In [24]:
import sympy as sp
import pandas as pd
from IPython.display import Markdown as Md

In [18]:
x , th , y , z = sp.symbols("x theta y z")

In [19]:
fx = sp.sin(x**2) / 2
fx

sin(x**2)/2

In [20]:
dfdx = sp.diff(fx)
dfdx

x*cos(x**2)

In [21]:
gx = sp.tan(th)
gx

tan(theta)

In [26]:
dgdx = sp.diff(gx)
dgdx

tan(theta)**2 + 1

In [23]:
FUNCS = [fx, gx]
DERIVS = [dfdx, dgdx]
df = pd.DataFrame((FUNCS,DERIVS))
df

             0            1
0  sin(x**2)/2   tan(theta)
1  x*cos(x**2)  x*cos(x**2)

In [27]:
funcs = (Md("$sin(x^2)$"),Md("$tan(\theta)$"))
derivs = (Md("$x cos(x^2)$"),Md("$tan^2(\theta) + 1$"))
df = pd.DataFrame([funcs,derivs])
df.

,0,1
0,<IPython.core.display.Markdown object>,<IPython.core.display.Markdown object>
1,<IPython.core.display.Markdown object>,<IPython.core.display.Markdown object>

In [3]:
from IPython.display import Markdown
add_MD_Dollars_               = lambda math : "$" + math + "$"
add_MD_Dollars_Display_       = lambda string : Markdown(add_MD_Dollars_(string))

In [5]:
add_MD_Dollars_("3x^5 = 2\\beta")

'$3x^5 = 2\\beta$'