In [9]:
import sympy as sp
import pandas as pd
from IPython.display import Markdown

In [5]:
x , th , y , z = sp.symbols("x theta y z")

In [6]:
def derivative (func):
   dfdx = sp.diff (func)
   return dfdx

In [22]:
def showDerivative (func):
   dfdx = derivative(func)
   display(func)
   str_ddx = "$ \\frac {d}{dx} = <<>>"
   ddx = str_ddx.replace("<<>>", dfdx._repr_latex_())
   output = ddx.replace("$\\displaystyle", "")
   display(Markdown(output))

In [23]:
fx = sp.sin(x**2) / 2
showDerivative(fx)

sin(x**2)/2

$ \frac {d}{dx} =  x \cos{\left(x^{2} \right)}$

In [ ]:
dfdx = sp.diff(fx)
dfdx

x*cos(x**2)

In [ ]:
gx = sp.tan(th)
gx

tan(theta)

In [ ]:
dgdx = sp.diff(gx)
dgdx

tan(theta)**2 + 1

In [ ]:
FUNCS = [fx, gx]
DERIVS = [dfdx, dgdx]
df = pd.DataFrame((FUNCS,DERIVS))
df

             0            1
0  sin(x**2)/2   tan(theta)
1  x*cos(x**2)  x*cos(x**2)

In [ ]:
funcs = (Md("$sin(x^2)$"),Md("$tan(\theta)$"))
derivs = (Md("$x cos(x^2)$"),Md("$tan^2(\theta) + 1$"))
df = pd.DataFrame([funcs,derivs])
df.

,0,1
0,<IPython.core.display.Markdown object>,<IPython.core.display.Markdown object>
1,<IPython.core.display.Markdown object>,<IPython.core.display.Markdown object>

In [ ]:
from IPython.display import Markdown
add_MD_Dollars_               = lambda math : "$" + math + "$"
add_MD_Dollars_Display_       = lambda string : Markdown(add_MD_Dollars_(string))

In [ ]:
add_MD_Dollars_("3x^5 = 2\\beta")

'$3x^5 = 2\\beta$'