In [1]:
!pip3 install numpy
!pip3 install pandas
!pip3 install random

Requirement already satisfied: numpy in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (1.22.3)
WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the '/home/gitpod/.pyenv/versions/3.8.13/bin/python3.8 -m pip install --upgrade pip' command.
Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 72.9 MB/s eta 0:00:0000:010:01
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 503.5/503.5 KB 9.4 MB/s eta 0:00:0000:01
Requirement already satisfied: numpy>=1.18.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.4.2 pytz-2022.1
WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the '/home/gitpod/.pyenv/versions/3.8.13/bin/python3.8 -m pip install --upgrade pip' command.
ERROR: Could not find a version that satisfies the requirement random (from versions: none)
ERROR: No matching distribution found for random
WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the '/home/gitpod/.pyenv/versions/3.8.13/bin/python3.8 -m pip install --upgrade pip' command.

In [2]:
# %% 
import random as rnd
import pandas as pd
import numpy as np

In [6]:
# %%
"DEFINING STATES NAMES"
def make_states (n:int):
    stateletters = "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z".split(" ")
    states = ["State " + x for x in stateletters]
    return states[0:n]
states = make_states(26)
print(states)

['State A', 'State B', 'State C', 'State D', 'State E', 'State F', 'State G', 'State H', 'State I', 'State J', 'State K', 'State L', 'State M', 'State N', 'State O', 'State P', 'State Q', 'State R', 'State S', 'State T', 'State U', 'State V', 'State W', 'State X', 'State Y', 'State Z']

In [13]:
# %%
"RANDOMLY GEN STATES POPULATIONS"
rnd.seed(2)
pops = [rnd.randint(10000, 200000) for x in range(len(states))]

print(pops)

[24824, 34008, 32248, 104649, 54324, 185565, 90776, 75951, 168844, 65631, 169069, 19367, 162359, 188584, 51519, 122897, 177371, 113162, 199533, 143448, 107533, 152652, 126615, 141613, 80317, 19417]

In [16]:
"CALC TOTAL POPULATION"
total_pop = sum(pops)
print(f"Population (grand total): {total_pop:,}")

Population (grand total): 2,812,276

In [31]:
data = {"total_pop" : total_pop , "population" : pops}
df = pd.DataFrame(data,index=states)

fmt = lambda x: x.style.format({"population":"{:,d}"})
fmt(df)

In [39]:
df['%pop'] = df["population"] / df["total_pop"]
df.style.format({
    "population":"{:,d}",
    "%pop":"{:.1%}"
})

In [ ]:
"NATIONWIDE POP:REP RATIO"
total_reps = 275
people_per_rep =  total_pop / total_reps 
people_per_rep

In [ ]:
# %%

"""REPS WITH FLOOR DIV"""
df["reps"] = total_reps * (df['%pop']/100) // 1
df
# %%
sum(df['reps'])
# %%
_pop = list(df['population'])
_rep = list(df['reps'])
# %%
"""GEOMETRIC MEAN OF DIVISOR DISCREPANCY OF DESERVED ELECTORS BY STATE"""
_y = []
for x in range(len(_pop)):
    y = _pop[x] / np.sqrt(_rep[x] * (_rep[x] +1))
    _y.append(round(y,3))
_y
# %%
df['divisor'] = _y
df.divisor
# %%
seats_to_fill = int(total_reps -  sum(df['reps']))
seats_to_fill
# %%
"""INDEX DF FROM 0 : # OF SEATS TO FILL"""
getsnewrep = df.sort_values("divisor")[0:seats_to_fill]
getsnewrep
print(list(getsnewrep.index))
# %%
df['addrep'] = getsnewrep['reps'] + 1
df
# %%
df['addrep'] = df['addrep'].fillna(df['reps'])
df
# %%
sum(df['addrep'])
# %%