In [1]:
!pip3 install numpy
!pip3 install pandas
!pip3 install random

Requirement already satisfied: numpy in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (1.22.3)
WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the '/home/gitpod/.pyenv/versions/3.8.13/bin/python3.8 -m pip install --upgrade pip' command.
Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 72.9 MB/s eta 0:00:0000:010:01
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 503.5/503.5 KB 9.4 MB/s eta 0:00:0000:01
Requirement already satisfied: numpy>=1.18.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.4.2 pytz-2022.1
WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the '/home/gitpod/.pyenv/versions/3.8.13/bin/python3.8 -m pip install --upgrade pip' command.
ERROR: Could not find a version that satisfies the requirement random (from versions: none)
ERROR: No matching distribution found for random
WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the '/home/gitpod/.pyenv/versions/3.8.13/bin/python3.8 -m pip install --upgrade pip' command.

In [2]:
# %% 
import random as rnd
import pandas as pd
import numpy as np

In [6]:
# %%
"DEFINING STATES NAMES"
def make_states (n:int):
    stateletters = "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z".split(" ")
    states = ["State " + x for x in stateletters]
    return states[0:n]
states = make_states(26)
print(states)

['State A', 'State B', 'State C', 'State D', 'State E', 'State F', 'State G', 'State H', 'State I', 'State J', 'State K', 'State L', 'State M', 'State N', 'State O', 'State P', 'State Q', 'State R', 'State S', 'State T', 'State U', 'State V', 'State W', 'State X', 'State Y', 'State Z']

In [13]:
# %%
"RANDOMLY GEN STATES POPULATIONS"
rnd.seed(2)
pops = [rnd.randint(10000, 200000) for x in range(len(states))]

print(pops)

[24824, 34008, 32248, 104649, 54324, 185565, 90776, 75951, 168844, 65631, 169069, 19367, 162359, 188584, 51519, 122897, 177371, 113162, 199533, 143448, 107533, 152652, 126615, 141613, 80317, 19417]

In [16]:
"CALC TOTAL POPULATION"
total_pop = sum(pops)
print(f"Population (grand total): {total_pop:,}")

Population (grand total): 2,812,276

In [31]:
data = {"total_pop" : total_pop , "population" : pops}
df = pd.DataFrame(data,index=states)

fmt = lambda x: x.style.format({"population":"{:,d}"})
fmt(df)

In [39]:
df['%pop'] = df["population"] / df["total_pop"]
df.style.format({
    "population":"{:,d}",
    "%pop":"{:.1%}"
})

In [85]:
"NATIONWIDE POP:REP RATIO"
SET_NUM_REPS = 275
people_per_rep =  total_pop / SET_NUM_REPS
people_per_rep

10226.458181818181

$$\Large \lfloor N_{reps} \times \%_{pop} \rfloor = n_{starter}^{reps}$$

In [86]:
"""REPS WITH FLOOR DIV"""
df["reps"] = SET_NUM_REPS * (df['%pop']) // 1
df

         total_pop  population      %pop  reps    divisor  addrep
State A    2812276       24824  0.008827   2.0  10134.356     3.0
State B    2812276       34008  0.012093   3.0   9817.264     4.0
State C    2812276       32248  0.011467   3.0   9309.196     4.0
State D    2812276      104649  0.037211  10.0   9977.891    11.0
State E    2812276       54324  0.019317   5.0   9918.160     6.0
State F    2812276      185565  0.065984  18.0  10034.206    19.0
State G    2812276       90776  0.032278   8.0  10698.054     NaN
State H    2812276       75951  0.027007   7.0  10149.379     NaN
State I    2812276      168844  0.060038  16.0  10237.671     NaN
State J    2812276       65631  0.023337   6.0  10127.083     7.0
State K    2812276      169069  0.060118  16.0  10251.314     NaN
State L    2812276       19367  0.006887   1.0  13694.537     NaN
State M    2812276      162359  0.057732  15.0  10480.228     NaN
State N    2812276      188584  0.067057  18.0  10197.455     NaN
State O    2812276       51519  0.018319   5.0   9406.039     6.0
State P    2812276      122897  0.043700  12.0   9839.635    13.0
State Q    2812276      177371  0.063070  17.0  10139.625     NaN
State R    2812276      113162  0.040239  11.0   9849.488    12.0
State S    2812276      199533  0.070951  19.0  10235.827     NaN
State T    2812276      143448  0.051008  14.0   9898.852    15.0
State U    2812276      107533  0.038237  10.0  10252.869     NaN
State V    2812276      152652  0.054281  14.0  10533.989     NaN
State W    2812276      126615  0.045022  12.0  10137.313    13.0
State X    2812276      141613  0.050355  13.0  10497.054     NaN
State Y    2812276       80317  0.028559   7.0  10732.811     NaN
State Z    2812276       19417  0.006904   1.0  13729.892     NaN

In [82]:
# %%
REPCOUNT = sum(df['reps'])
REPCOUNT

263.0

In [45]:
_pop = list(df['population'])
_rep = list(df['reps'])

In [48]:
"""GEOMETRIC MEAN OF DIVISOR DISCREPANCY OF DESERVED ELECTORS BY STATE"""
_y = []
for x in range(len(_pop)):
    y = _pop[x] / np.sqrt(_rep[x] * (_rep[x] +1))
    _y.append(round(y,3))

In [47]:
df['divisor'] = _y
df.divisor

State A    10134.356
State B     9817.264
State C     9309.196
State D     9977.891
State E     9918.160
State F    10034.206
State G    10698.054
State H    10149.379
State I    10237.671
State J    10127.083
State K    10251.314
State L    13694.537
State M    10480.228
State N    10197.455
State O     9406.039
State P     9839.635
State Q    10139.625
State R     9849.488
State S    10235.827
State T     9898.852
State U    10252.869
State V    10533.989
State W    10137.313
State X    10497.054
State Y    10732.811
State Z    13729.892
Name: divisor, dtype: float64

In [49]:
seats_to_fill = int(total_reps -  sum(df['reps']))
seats_to_fill

12

In [50]:

# %%
"""INDEX DF FROM 0 : # OF SEATS TO FILL"""
getsnewrep = df.sort_values("divisor")[0:seats_to_fill]
getsnewrep
print(list(getsnewrep.index))

['State C', 'State O', 'State B', 'State P', 'State R', 'State T', 'State E', 'State D', 'State F', 'State J', 'State A', 'State W']

In [80]:
df['addrep'] = getsnewrep['reps'] + 1
df

         total_pop  population      %pop  reps    divisor  addrep
State A    2812276       24824  0.008827   2.0  10134.356     3.0
State B    2812276       34008  0.012093   3.0   9817.264     4.0
State C    2812276       32248  0.011467   3.0   9309.196     4.0
State D    2812276      104649  0.037211  10.0   9977.891    11.0
State E    2812276       54324  0.019317   5.0   9918.160     6.0
State F    2812276      185565  0.065984  18.0  10034.206    19.0
State G    2812276       90776  0.032278   8.0  10698.054     NaN
State H    2812276       75951  0.027007   7.0  10149.379     NaN
State I    2812276      168844  0.060038  16.0  10237.671     NaN
State J    2812276       65631  0.023337   6.0  10127.083     7.0
State K    2812276      169069  0.060118  16.0  10251.314     NaN
State L    2812276       19367  0.006887   1.0  13694.537     NaN
State M    2812276      162359  0.057732  15.0  10480.228     NaN
State N    2812276      188584  0.067057  18.0  10197.455     NaN
State O    2812276       51519  0.018319   5.0   9406.039     6.0
State P    2812276      122897  0.043700  12.0   9839.635    13.0
State Q    2812276      177371  0.063070  17.0  10139.625     NaN
State R    2812276      113162  0.040239  11.0   9849.488    12.0
State S    2812276      199533  0.070951  19.0  10235.827     NaN
State T    2812276      143448  0.051008  14.0   9898.852    15.0
State U    2812276      107533  0.038237  10.0  10252.869     NaN
State V    2812276      152652  0.054281  14.0  10533.989     NaN
State W    2812276      126615  0.045022  12.0  10137.313    13.0
State X    2812276      141613  0.050355  13.0  10497.054     NaN
State Y    2812276       80317  0.028559   7.0  10732.811     NaN
State Z    2812276       19417  0.006904   1.0  13729.892     NaN

In [77]:
# %%
df['addrep'] = df['addrep'].fillna(df['reps'])
               # in the addrep col
               #            Fill nan with
               #                     #val from reps column
df.style.format(
    {"population":"{:,}",
    "total_pop":"{:,}",
    "%pop":"{:.1%}",
    "reps":"{:g}" ,
    "divisor":"{:,.6}",
    "addrep":"{:g}"}
)

In [79]:
"""VERIFY REPRESENTATIVE COUNT"""
sum(df['addrep'])

275.0