In [7]:
import pandas as pd
from IPython.display import Math, Markdown, display

Data Generation

In [2]:
names = "Josh Larry Lori Ariel Ian".split(" ")
age = [27, 53, 51, 23, 19]
ed = "Some_grad Some_undergrad HS HS Some_HS".split(" ")
edYears = [18,14,12,12,10]

DataFrame Init

In [3]:
d = {
    "age": pd.Series(age,index=names),
    "ed" : pd.Series(ed,index=names),
    "yrs-ed" : pd.Series(edYears,index=names)
    }
df = pd.DataFrame(d)
display(Markdown("### DATAFRAME"))
df

### DATAFRAME

       age              ed  yrs-ed
Josh    27       Some_grad      18
Larry   53  Some_undergrad      14
Lori    51              HS      12
Ariel   23              HS      12
Ian     19         Some_HS      10

New Variable via Calculation

In [4]:
df["Ed Yrs per Age"] = round(df['yrs-ed'] / df.age,2)
display(Markdown("### DATAFRAME"))
df

### DATAFRAME

       age              ed  yrs-ed  Ed Yrs per Age
Josh    27       Some_grad      18            0.67
Larry   53  Some_undergrad      14            0.26
Lori    51              HS      12            0.24
Ariel   23              HS      12            0.52
Ian     19         Some_HS      10            0.53

In [15]:
display(Markdown("### DF: Descriptive Statistics"))
summ = round(df.describe(),1)
summ.loc['mean':'std'].T

### DF: Descriptive Statistics

                mean   std
age             34.6  16.1
yrs-ed          13.2   3.0
Ed Yrs per Age   0.4   0.2

In [18]:
summ['age']

count     5.0
mean     34.6
std      16.1
min      19.0
25%      23.0
50%      27.0
75%      51.0
max      53.0
Name: age, dtype: float64