In [1]:
import pandas as pd

In [25]:
names = "Josh Larry Lori Ariel Ian".split(" ")
age = [26, 53, 51, 23, 19]
ed = "Some_grad Some_undergrad HS HS Some_HS".split(" ")
edYears = [18,14,12,12,10]

In [26]:
d = {
    "age": pd.Series(age,index=names),
    "ed" : pd.Series(ed,index=names),
    "yrs-ed" : pd.Series(edYears,index=names)
    }
df = pd.DataFrame(d)
df

       age              ed  yrs-ed
Josh    26       Some_grad      18
Larry   53  Some_undergrad      14
Lori    51              HS      12
Ariel   23              HS      12
Ian     19         Some_HS      10

In [27]:
df["Ed Yrs per Age"] = df['yrs-ed'] / df.age
df

       age              ed  yrs-ed  Ed Yrs per Age
Josh    26       Some_grad      18        0.692308
Larry   53  Some_undergrad      14        0.264151
Lori    51              HS      12        0.235294
Ariel   23              HS      12        0.521739
Ian     19         Some_HS      10        0.526316