In [2]:
import pandas as pd
data = {
      ("AGS","amikacin") : [ 0 , 55 , 99 , 2], 
      ("AGS","gentamicin") : [22 , 67 , 99 , 98],
      ("ßLac","Amox-Clav") : [55 , 56 , 9 , 0],
      ("ßLac","Unasyn") : [44, 89 , 78 , 0],
      ("AGS","Unasyn") : [9, 6 , 7 , 8]
      }
df = pd.DataFrame(data)
df

       AGS                 ßLac           AGS
  amikacin gentamicin Amox-Clav Unasyn Unasyn
0        0         22        55     44      9
1       55         67        56     89      6
2       99         99         9     78      7
3        2         98         0      0      8

In [5]:
"SET ROW NAMES"
df.index = ["S. pyogenes" , "S. aureus (MRSA)" , "Klebsiella spp." , "E. coli"]
df

                      AGS                 ßLac           AGS
                 amikacin gentamicin Amox-Clav Unasyn Unasyn
S. pyogenes             0         22        55     44      9
S. aureus (MRSA)       55         67        56     89      6
Klebsiella spp.        99         99         9     78      7
E. coli                 2         98         0      0      8

In [3]:
"GET COLUMN"
df['AGS']

   amikacin  gentamicin  Unasyn
0         0          22       9
1        55          67       6
2        99          99       7
3         2          98       8

In [11]:
"GET SUBCOL"
df['AGS']['gentamicin']

S. pyogenes         22
S. aureus (MRSA)    67
Klebsiella spp.     99
E. coli             98
Name: gentamicin, dtype: int64

In [4]:
"COL FROM ID"
df.iloc [1]

AGS   amikacin      55
      gentamicin    67
ßLac  Amox-Clav     56
      Unasyn        89
AGS   Unasyn         6
Name: 1, dtype: int64

In [12]:
"SUMMARY STATS"
df.describe()

             AGS                  ßLac                  AGS
        amikacin gentamicin  Amox-Clav     Unasyn    Unasyn
count   4.000000   4.000000   4.000000   4.000000  4.000000
mean   39.000000  71.500000  30.000000  52.750000  7.500000
std    47.420108  36.189317  29.676028  40.044767  1.290994
min     0.000000  22.000000   0.000000   0.000000  6.000000
25%     1.500000  55.750000   6.750000  33.000000  6.750000
50%    28.500000  82.500000  32.000000  61.000000  7.500000
75%    66.000000  98.250000  55.250000  80.750000  8.250000
max    99.000000  99.000000  56.000000  89.000000  9.000000

In [ ]:


def get_col_from_id (col_id):
   return df.iloc [col_id]


def df_summary_stats (df):
   return df.describe ()

def get_subcolumn (col_name, subcol_name):
   out = df [col_name][subcol_name]
   return out

def group_columns (df, tuple_col):
   """
   >>> df
      A           B           C           D
      x   y   z   x   y   z   x   y   z   x   y   z
   T                                               
   0   1   2   1   3   2   1   4   2   1   5   2   1
   1   8   2   3   3   2   9   9   1   3   4   9   1
   2   4   5   7   7   7   1   8   3   6   9   2   3
   ===================================================
   """
   import pandas as pd

   df.columns = pd.MultiIndex.from_tuples ([(tuple_col[0], tuple_col[1]) for tuple_col in df.columns])
   return df

def group_columns_example ():
   import pandas as pd

   data = {
      ("AGS","amikacin") : [ 0 , 55 , 99 , 2], 
      ("AGS","gentamicin") : [22 , 67 , 99 , 98],
      ("ßLac","Amox-Clav") : [55 , 56 , 9 , 0],
      ("ßLac","Unasyn") : [44, 89 , 78 , 0],
      ("AGS","Unasyn") : [9, 6 , 7 , 8]
      }
   df = pd.DataFrame(data)
   df.index = ["S. pyogenes" , "S. aureus (MRSA)" , "Klebsiella spp." , "E. coli"]
   return df
group_columns_example()