In [50]:
import sympy as sp
import pandas as pd
import numpy as np
from IPython.display import Markdown, display

## Monthly Payment Equation

Useable:
```py
1. EQUATION_MONTHLYPAYMENT

2. mortgagepayment(P=,apr=,yrs=)  -> int

3. mortgagePayTable(P=,apr=,yrs=) -> dataFrame
```

In [39]:
P, r, n, mp= sp.symbols("P r n [PAY_{mo}]")
EQUATION_MONTHLYPAYMENT = sp.Eq(mp,P * r * (((1 + r)** n) / ((1 + r)** n - 1)))
EQUATION_MONTHLYPAYMENT

Eq([PAY_{mo}], P*r*(r + 1)**n/((r + 1)**n - 1))

In [141]:
def mortgagepayment (P,apr,yrs):
   """----MORTGAGE PAYMENT--------------------------------
   Returns MONTHLY PAYMENT IN $
   -------------------------------------------------------
   from args:
      >>> P     : principle
      >>> apr   : decimal APR
      >>> yrs   : length of term in years
   ======================================================"""
      
   r = apr / 12
   n = yrs * 12
   
   mp = round(P * r * ((r+1)**n) / ((r+1)**n-1) , 2)
   #print (f'Monthly Payment:\t\t${mp}')
   return mp

In [162]:
def mortgagePayTable (P, apr, yrs):
   r = apr / 12
   n = yrs * 12
   
   mp = round(P * r * ((r+1)**n) / ((r+1)**n-1) , 2)
   
   aprpc = round(apr*100)
   totalPaid = mp * yrs * 12
   interest = totalPaid - P
   data = [P,aprpc,yrs,mp,interest]
   cols = ["Principle","APR %","Years","MONTHLY Payment","Total Interest"]
   return round(pd.DataFrame(data,index=cols,columns=["RESULT"]))

In [165]:
pd.concat(
   (mortgagePayTable (104_000 , 0.031 , 18) ,
   mortgagePayTable(249_000 , 0.0285 , 23) ,
   mortgagePayTable(249_000 , apr=0.0285 , yrs=23),
   mortgagePayTable(89_000 , apr= 0.07 , yrs= 23)) ,
   axis=1
)

                   RESULT    RESULT    RESULT   RESULT
Principle        104000.0  249000.0  249000.0  89000.0
APR %                 3.0       3.0       3.0      7.0
Years                18.0      23.0      23.0     23.0
MONTHLY Payment     629.0    1231.0    1231.0    650.0
Total Interest    31832.0   90748.0   90748.0  90298.0

## Mortgage APR Table

In [145]:
def APRtable (minAPR, maxAPR, principle, years):
   listAPR = np.linspace(minAPR,maxAPR,10)
   
   df = pd.DataFrame(listAPR,columns=['APR'])
   df['APR%'] = round(df['APR'] * 100,1)
   df['Monthly_$$'] = mortgagepayment(principle, df['APR'], years)
   display("PRINCIPLE = $" + str(principle))
   return df.loc[:,'APR%':]

In [146]:
APRtable(0.03,0.1,20000,2)

'PRINCIPLE = $20000'

   APR%  Monthly_$$
0   3.0      859.62
1   3.8      866.52
2   4.6      873.45
3   5.3      880.42
4   6.1      887.41
5   6.9      894.44
6   7.7      901.51
7   8.4      908.61
8   9.2      915.74
9  10.0      922.90

In [147]:
APRtable(0.005,0.071, 110000, 23)

'PRINCIPLE = $110000'

   APR%  Monthly_$$
0   0.5      421.99
1   1.2      457.95
2   2.0      495.78
3   2.7      535.46
4   3.4      576.95
5   4.2      620.21
6   4.9      665.18
7   5.6      711.82
8   6.4      760.04
9   7.1      809.78

SYMBOL | Represents
-------|-----------------
$moPmnt$|`MONTHLY PAYMENT`
$P$|`PRINCIPLE`
$n$|`No. MONTHS`
$r$|`INTEREST RATE (MONTHLY)`

In [36]:
def apr_vs_cost_change (apr1,apr2,cost1,cost2) :
   ch_apr = apr2 - apr1
   ch_mo_pmnt = round((cost2 / cost1-1)*100, 1)
   output = f'{ch_apr}% change APR -> \n{ch_mo_pmnt}% change monthly cost'
   print (output)

In [37]:
apr_vs_cost_change (1.5 , 3.5, 579, 695)

2.0% change APR ->
20.0% change monthly cost

In [38]:
apr_vs_cost_change (1.5,6.5,579,894)

5.0% change APR ->
54.4% change monthly cost